<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - TIM09 Ticket App</title>
    {% else %}
    <title>Dobrodošli na TIM09 Ticket App</title>
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <style>
      @media (prefers-color-scheme: dark) {
        .dark {
            --bg-color: #1a202c;
            --text-color: #cbd5e0;
            --input-bg-color: #2d3748;
            --input-border-color: #4a5568;
            --btn-bg-color: #4a5568;
            --btn-text-color: #ffffff;
        }
      }
      body.dark {
        background-color: var(--bg-color);
        color: var(--text-color);
      }
      body {
        padding-bottom: 50px;
      }
      .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: white;
        text-align: center;
        padding: 10px 0;
    }
  </style>
  </head>
  <body class="dark flex flex-col min-h-screen">
      <nav class="bg-blue-500 p-4">
          <div class="container mx-auto flex justify-between items-center">
              <div class="flex items-center">
                  <a href="{{ url_for('main.index') }}" class="text-white mr-4 {{ 'font-bold' if request.path == '/' else '' }}">Početna</a>
              </div>
              <div class="flex items-center">
                  <form action="/search" method="POST">
                      <input type="text" name="search_query" placeholder="Pretraživanje" class="w-64 px-2 py-1 border rounded-md focus:outline-none focus:ring focus:ring-blue-400 mr-2 text-black">
                      <button type="submit" class="text-white mr-4 {{ 'font-bold' if '/search' in request.path else '' }}">Pretraži</button>
                  </form>
                  <a href="{{ url_for('main.view_cart') }}" class="text-white mr-4 {{ 'font-bold' if '/cart' in request.path else '' }}">
                    Košarica
                    {% if 'cart' in session %}
                        <span class="bg-yellow-500 text-black rounded-full px-2">{{ session['cart']|length }}</span>
                    {% else %}
                        <span class="bg-yellow-500 text-black rounded-full px-2">0</span>
                    {% endif %}
                  </a>
                  {% if current_user.is_anonymous %}
                  <a href="{{ url_for('auth.login') }}" class="text-white mr-4 {{ 'font-bold' if request.path == '/auth/login' else '' }}">Prijava</a>
                  {% else %}
                    <a href="{{ url_for('main.profile', username=current_user.username) }}" class="text-white mr-4 {{ 'font-bold' if '/profile' in request.path else '' }}">Moj profil</a>
                    {% if current_user.is_admin %}
                    <a href="{{ url_for('admin.dashboard') }}" class="text-white mr-4 {{ 'font-bold' if '/admin' in request.path else '' }}">Administracija</a>
                    {% endif %}
                    <a href="{{ url_for('auth.logout') }}" class="text-white mr-4">Odjava</a>
                  {% endif %}
              </div>
          </div>
      </nav>

      <div class="container mx-auto mt-8 flex-grow">
          <h1 class="text-3xl font-bold text-center mb-4">WEB-APLIKACIJA ZA REZERVACIJU I KUPNJU KARATA JAVNOG PRIJEVOZA</h1>
          <div id="flash-messages" class="fixed top-0 left-1/2 transform -translate-x-1/2 mt-4">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
            <div class="p-2 mb-2 rounded-md
                {% if category == 'success' %}
                    bg-green-200 text-green-800
                {% elif category == 'error' %}
                    bg-red-200 text-red-800
                {% endif %}
                ">
              {{ message }} 
            </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          </div>
          {% block content %}{% endblock %}
      </div>
  </body>
  <footer class="footer bg-white-800 text-white py-4">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 TIM09</p>
    </div>
</footer>
<script type="text/javascript">
  $(document).ready(function() {
    // Function to hide flash messages after a certain time
    function hideFlashMessages() {
        $('#flash-messages').fadeOut('slow');
    }

    // Hide flash messages after 5 seconds
    setTimeout(hideFlashMessages, 2000);
  })
</script>
</html>
