{% extends "base.html" %}

{% block content %}

<div class="flex items-center justify-between">
    <h1 class="text-2xl font-bold mb-4">Košarica</h1>
    {% if cart|length > 0 %}
    <p class="text-xl font-semibold mb2">Ukupno: {{ total_amount }} €</p>
    <button class="bg-green-700 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-md transition-colors duration-300">
        <a href="{{ url_for('main.checkout') }}">Plaćanje</a>
    </button>
    {% endif %}
</div>
<div class="container mx-auto">
    <div class="grid grid-cols-1 gap-4">
        <!-- Display cart items with options to update quantity and remove item -->
        {% for item_id, item_info in cart.items() %}
        <div class="border p-4 rounded-lg shadow-md flex items-center justify-between">
            <div>
                <h2 class="text-xl font-semibold mb-2">{{ item_info['name'] }}</h2>
                {% set total_price = item_info['price'] * item_info['quantity'] %}
                <p class="text-white-700 mb-2">Cijena: {{ item_info['price'] }} € (Ukupno: {{ total_price }} €)</p>
                <!-- Since quantity might not exist, use 'get' method -->
                <p class="text-white-700 mb-2">Količina: {{ item_info.get('quantity', 0) }}</p>
            </div>
            <div class="flex items-center">
                <!-- Form to update quantity -->
                <form action="/update_cart/{{ item_id }}" method="POST" class="mr-2">
                    <div class="flex items-center">
                        <label for="quantity-{{ item_id }}" class="mr-2">Količina:</label>
                        <input type="number" value="{{ item_info.get('quantity', 0) }}" id="quantity-{{ item_id }}" name="quantity" value="{{ item_info.get('quantity', 0) }}" min="0" class="w-16 px-2 py-1 border rounded-md focus:outline-none focus:ring focus:ring-blue-400 mr-2 text-black">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-1 px-2 rounded-md transition-colors duration-300">Ažuriraj</button>
                    </div>
                </form>
                <!-- Form to remove item -->
                <form action="/remove_from_cart/{{ item_id }}" method="POST">
                    <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-1 px-2 rounded-md transition-colors duration-300">Izbriši</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
