{% extends 'base.html' %}

{% block content %}
    <div class="container mt-8 flex justify-center">
        <div class="w-full max-w-md">
            <h1 class="text-2xl font-semibold mb-4 text-center">Prijava</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div>
                    {{ form.username.label(class="font-bold text-white-700") }}<br>
                    {{ form.username(size=32, class="form-input mt-1 block w-full rounded-lg text-gray-800 text-lg h-10") }}<br>
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div>
                    {{ form.password.label(class="font-bold text-white-700") }}<br>
                    {{ form.password(size=32, class="form-input mt-1 block w-full rounded-lg text-gray-800 text-lg h-10") }}<br>
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit(class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg w-full") }}</p>
            </form>
            <br>
            <p>Novi Korisnik? <a href="{{ url_for('auth.register') }}" id="registracija"><strong>Klikni za Registraciju.</strong></a></p>
        </div>
    </div>
{% endblock %}
